@import '../../common.scss';
.review-section-row {
	justify-content: center;
	padding: 0px 30px;
	.heart-img-wrapper {
		border-radius: 50%;
		width: 45px;
		background: red;
		display: flex;
		justify-content: center;
		height: 45px;
		.heart-img {
			width: 25px;
		}
	}
	.review-section-row__heading {
		color: $text-color;
		padding: 0px 0px 10px 30px;
		margin-bottom: 20px;
	}
	.arrow-img-wrapper {
		border-radius: 50%;
		width: 40px;
		background: #eedeff;
		display: flex;
		justify-content: center;
		height: 40px;
		cursor: pointer;
		.arrow-img {
			width: 20px;
		}
	}
}
.reviews-card-wrapper {
	box-shadow: 2px 10px 10px #f1f1f1;
	margin: 10px 15px 10px 15px;
	border-radius: 10px;
	padding: 20px 30px;
	.card-details {
		.circle {
			width: 60px;
			border-radius: 50%;
		}
		display: flex;
		.card-details__text {
			padding: 10px 25px;
			display: flex;
			flex-direction: column;
		}
	}
}

.carousel {
	overflow: visible !important;
	.control-dots {
		bottom: -50px !important;
		.dot {
			opacity: 1 !important;
			background: #e0e0fe !important;
			box-shadow: none !important;
			width: 10px !important;
			height: 10px !important;
			&.selected {
				outline: none !important;
				background-color: #2a3584 !important;
			}
		}
	}
}
