$text-color: #2e3787;

.section-spacing {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.black-heading {
  color: #6d6d6d;
  font-size: 14px;
  font-weight: 700;
}

.sub-heading-color {
  color: #bebebe;
}